{% extends "forum/codice_comune_due.html" %}

{% block content %}
  

    <div class="container">
        <div class="card center spacer" style="background-color: #ff5757;">
            <h1 class="title text-center">Controlla la tua mail!</h1>
            <div class="mute-paragraph text-center">
                ti abbiamo mandato le istruzioni per resettare la password
            </div>

        

        </div>


    </div>

    <div class="redirect">
        Non hai ricevuto nessuna email? controlla nello spam oppure
        <a href="forgot-password.html" class="link">mandane un altra!</a>
    </div>

{%endblock%}