<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Dimenticata</title>

     <!-- da cambiare questi due link, per renderli statici -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">


    {% load static %}
    <script src="{% static 'registration/css/styles.css' %}" defer></script>
    
</head>
<body>


    <div class="container">
        <div class="card center spacer" style="background-color: #ff5757;">
            <h1 class="title text-center">Reset Password</h1>
            <div class="mute-paragraph" style="font-family: Roboto; font-size: 15px">
                Inserisci l'email associata al tuo account, ti manderemo una mail con le istruzioni per recuperare la tua password.
            </div>

            <form method="get" class="login-form spacer" id="signup-form">

                <div class="input-group">
                    {% load static %}
                    <img class="icon input-icon" src="{% static 'registration/img/mail.png' %}" alt="facebook icon" style=" max-width: 50px;
                    max-height: 50px;">
                    <input required name="email" id="email" type="email" class="form-input" placeholder="johndoe@mail.com">
                </div>

                <button onClick="sendEmail()" type="submit" class="submit">Manda istruzioni!</button>
            </form>

        </div>


    </div>

    <div class="redirect">
    <a href="{% url 'home' %}"><h1>Torna alla Home!</h1></a>
        <br><br>
    </div>


    
<script>
        function sendEmail(){
            alert("Perfetto! vai a controllare la tua mail!");

         //qui dovrei mandare un indirizzo alla casella:
         Email.send({
            Host : "smtp.elasticemail.com",
            Username : "username",
            Password : "password",
            To : 'them@website.com',
            From : "you@isp.com",
            Subject : "Recupero password",
            Body : "Ci siamo quasi! Puoi rimpostare la tua password al seguente indirizzo: http://127.0.0.1:8000/forgot_password/"
        }).then(
          alert("Grazie per averci scritto, la ricontatteremo al più presto!")
        );
    }    
</script>


</body>
</html>
