
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatto!</title>
    
    <!-- da cambiare questi due link, per renderli statici -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">


    {% load static %}
    <script src="{% static 'registration/css/styles.css' %}" defer></script>

</head>
<body>

    <div class="slider-thumb" ></div>


    <div class="container">
        <div class="card center spacer" style="background-color: #ff5757;">
            <h1 class="title text-center"style="font-family: Roboto;">ATTENZIONE!</h1>
            <div class="mute-paragraph text-center">
               <h2> Hai inserito dei dati sbagliati!. <br> torna alla home e riprova oppure clicca qui sotto per Iscriverti </h2>
            </div>
            <button class="submit" type="submit">
                <a href="{% url 'signup' %}" style="color: white;">
            
                Iscriviti ora!</button></a>
        </div>
    </div>


    <div class="redirect">
        <a href="{% url 'home' %}"><h1>Torna alla Home!</h1></a>
            <br><br>
        </div>

</body>
</html>
